<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover,cobertura,json</Format>
          <Exclude>
            [*.Tests]*
            [*.Test]*
            [*TestInfrastructure]*
            [xunit.*]*
            [Microsoft.*]*
            [System.*]*
            [Newtonsoft.*]*
            [*.Program]*
          </Exclude>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/bin/**/*
            **/obj/**/*
            **/*Designer.cs
            **/*AssemblyInfo.cs
            **/GlobalSuppressions.cs
            **/Program.cs
            **/Startup.cs
          </ExcludeByFile>
          <IncludeDirectory>
            ../src/**
          </IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>minimal</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>TestResults.trx</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>